<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HerenciaMaster.Properties.Settings.CadenaConexion"
            connectionString="Data Source=192.168.25.3;Initial Catalog=PSICOLOGA;Persist Security Info=True;User ID=sa;Password=Sysadm23577"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>